$primary_color: white;
$second_color: #333;
$third_color: darken(lightblue, 20%);

$danger_color: #dd6c6c;
$success_color: #4CAF50;

$back_color: darken($primary_color, 25%);
$link_color: #f2f2f2;

$text_color: black;