<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="/styles/styles.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" rel="stylesheet">
</head>
<body>

<header>
    <h1>Wallets</h1>
</header>

<nav>
    <a class="active right" th:href="@{/login}">Login</a>
    <a class="right" th:href="@{/sign-up}">Sign Up</a>
</nav>

<main>
    <!-- Login -->
    <section class="card">
        <h2 class="centered">Sign in</h2>

        <form method="post" th:action="@{/login}">
            <div class="row error" th:if="${param.error}">
                Incorrect login credo
            </div>

            <div class="row success" th:if="${param.logout}">
                You have been logged out.
            </div>

            <div class="row"><label for="username">Username:</label> <input autocomplete="username" id="username" name="username"
                                                                            type="text"/>
            </div>
            <div class="row"><label for="password">Password:</label> <input autocomplete="current-password" id="password"
                                                                            name="password"
                                                                            type="password"/></div>
            <div class="row"><input type="submit" value="Sign In"/></div>
        </form>

    </section>
    <!-- End login -->
</main>

<footer>
    <div class="footer-col">
        <p>
            2 lab for Web technology and web design course.
        </p>
    </div>
    <div class="footer-col">
        <p>
            <a class="link" href="https://github.com/DanyloMelnyk/web_labs"><i class="fab fa-github"></i> Sources</a>
        </p>
        <p>
            <a class="link" href="https://t.me/mel2danylo"><i class="fab fa-telegram-plane"></i> Danylo Melnyk</a>
            ©20.04.2021
        </p>
    </div>
</footer>
</body>
</html>