<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link href="/styles/styles.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" rel="stylesheet">
</head>
<body>

<header>
    <h1>Wallets</h1>
</header>

<nav>
    <a class="active" href="/user">Users</a>
    <a th:href="@{/user/current}">User page</a>
    <a th:href="@{/}">Wallets</a>

    <a class="right" th:href="@{/logout}">Logout</a>
</nav>

<main>
</main>

<aside>
</aside>

<footer>
    <div class="footer-col">
        <p>
            2 lab for Web technology and web design course.
        </p>
    </div>
    <div class="footer-col">
        <p>
            <a class="link" href="https://github.com/DanyloMelnyk/web_labs"><i class="fab fa-github"></i> Sources</a>
        </p>
        <p>
            <a class="link" href="https://t.me/mel2danylo"><i class="fab fa-telegram-plane"></i> Danylo Melnyk</a>
            ©20.04.2021
        </p>
    </div>
</footer>
<script src="/users.js" type="module"></script>
</body>
</html>