<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New wallet</title>
    <link href="/styles/styles.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" rel="stylesheet">
</head>
<body>

<header>
    <h1>Wallets</h1>
</header>

<nav>
    <a href="/user">Users</a>
    <a th:href="@{/user/current}">User page</a>
    <a th:href="@{/}">Wallets</a>

    <a class="right" th:href="@{/logout}">Logout</a>
</nav>

<main>
    <section class="card">
        <form id="form">
            <div class="row"><label for="wallet-name">Wallet name:</label> <input id="wallet-name" name="wallet-name"
                                                                                  type="text" value="My wallet 1"/>
            </div>
            <div class="row"><label for="currency">Currency:</label>
                <select id="currency" name="currency">
                    <option value="USD">USD</option>
                    <option value="EUR">EUR</option>
                    <option selected value="UAH">UAH</option>
                </select>
            </div>
            <div class="row"><input type="submit" value="Create"/><input type="reset" value="Cancel"/></div>
        </form>
    </section>
</main>

<aside>
</aside>
<script src="/create-wallet.js" type="module"></script>

<footer>
    <div class="footer-col">
        <p>
            2 lab for Web technology and web design course.
        </p>
    </div>
    <div class="footer-col">
        <p>
            <a class="link" href="https://github.com/DanyloMelnyk/web_labs"><i class="fab fa-github"></i> Sources</a>
        </p>
        <p>
            <a class="link" href="https://t.me/mel2danylo"><i class="fab fa-telegram-plane"></i> Danylo Melnyk</a>
            ©20.04.2021
        </p>
    </div>
</footer>
</body>
</html>